<nav>
  <button><a href="/">Página Principal</a></button>
  <button><a href="/pastor_aleman">Pastor Alemán</a></button>
  <button><a href="/golden">Golden Retriever</a></button>
  <button><a href="/pequines">Pequines</a></button>
</nav>
