<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P치gina no encontrada</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> menu}}

    <main>
        <h1>Error 404</h1>
        <p>La p치gina que est치s buscando no existe o ha sido movida.</p>
        <a href="/" class="btn">Volver a la p치gina principal</a>
    </main>

    {{> footer}}

</body>
</html>
