<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> menu}}
  
    <main>
        <h1>Golden Retriever</h1>
        <p>
            El Golden Retriever es una raza amigable, leal, y cari침osa, ideal para familias. Son conocidos por 
            su car치cter sociable y su gran habilidad para actividades al aire libre, adem치s de ser excelentes 
            compa침eros de juego y perros de terapia. Esta raza es muy popular debido a su inteligencia y 
            facilidad de entrenamiento.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6YBFxh-JKlQ" 
        title="Golden Retriever" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </main>

  
    {{> footer}}

</body>
</html>
