<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal - Perros Domésticos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    {{> menu}}

    <main>
        <h1>Perros Domésticos</h1>
        <p>
            Los perros domésticos son animales de compañía que han sido criados para convivir con los humanos, 
            ofreciendo amor, lealtad y protección. Son una de las especies animales más cercanas al hombre, 
            y a lo largo de los años han desarrollado un vínculo muy especial con nosotros.
        </p>
        <p>
            Existen muchas razas diferentes de perros, cada una con características únicas y personalidades distintas, 
            adaptadas a diversos roles como compañía, trabajo o asistencia.
        </p>

       <p><br><strong>Beneficios</strong> 
       <br><br>Las mascotas pueden disminuir el estrés y la sensación de soledad, mejorar la salud del corazón e, incluso, ayudar a los niños con sus habilidades emocionales y sociales. Así lo asegura el NIH (National Institutes of Health), grupo de instituciones del gobierno de Estados Unidos dedicado a la investigación médica. 
        </p>
        <img src="/image/1 home.jpg" alt="Perro doméstico 1" />
        <img src="/image/2 home.jpeg" alt="Perro doméstico 2" />
    </main>

    {{> footer}}

</body>
</html>
