<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Alemán</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> menu}}
  
    <main>
        <h1>Pastor Alemán</h1>
        <p>
            El pastor alemán es una raza de perro originaria de Alemania, conocida por su inteligencia, 
            lealtad y habilidades en tareas de rescate, policía y seguridad. Es un perro fuerte, activo, 
            y protector, lo que lo convierte en un excelente guardián y compañero.
        </p>
        <table>
            <tr><th>Característica</th><th>Descripción</th></tr>
            <tr><td>Tamaño</td><td>Grande</td></tr>
            <tr><td>Esperanza de vida</td><td>9-13 años</td></tr>
            <tr><td>Carácter</td><td>Valiente, leal, y protector</td></tr>
            <tr><td>Colores</td><td>Negro, marrón, gris</td></tr>
            <tr><td>Origen</td><td>Alemania</td></tr>
        </table>
        <img src="/image/pastoraleman.webp" alt="Pastor Alemán 1" />
        <img src="/image/aleman2.jpeg" alt="Pastor Alemán 2" />
    </main>


    {{> footer}}

</body>
</html>
