<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequines</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> menu}}

    <main>
        <h1>Pequines</h1>
        <p>
            El pequinés es una raza de perro pequeña, originaria de China. A pesar de su tamaño, 
            es un perro valiente y con un carácter fuerte, independiente y protector. Son muy leales a sus dueños, 
            pero pueden ser reservados con personas desconocidas.
        </p>
        <table>
            <tr><th>Característica</th><th>Descripción</th></tr>
            <tr><td>Tamaño</td><td>Pequeño</td></tr>
            <tr><td>Esperanza de vida</td><td>12-15 años</td></tr>
            <tr><td>Carácter</td><td>Independiente, valiente, y leal</td></tr>
            <tr><td>Colores</td><td>Dorado, crema, negro</td></tr>
            <tr><td>Origen</td><td>China</td></tr>
        </table>
        <img src="/image/pequines22.jpg" alt="Pequines 1" />
        <img src="/image/pequines1.jpeg" alt="Pequines 2" />
    </main>

    {{> footer}}

</body>
</html>
